snippet pd "print_r and die"
echo '<pre>';print_r(${0:});die;
endsnippet

snippet vd "var_dump and die"
var_dump(${0:});die;
endsnippet

snippet pre "pre print_r"
echo '<pre>';print_r(${0:});</pre>;
endsnippet
